<!-- 新增餐厅弹窗 -->
<div class="modal" id="addRestaurantModal" tabindex="-1" role="dialog"
	aria-labelledby="addRestaurantModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" >新增餐厅</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="control-label">餐厅名称</label>
						<input v-model="name" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">营业执照</label>
						<input v-model="license" class="form-control">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary"
					@click="addRestaurant">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- 分配餐厅管理员弹窗 -->
<div class="modal" id="addManagerModal" tabindex="-1" role="dialog"
	aria-labelledby="addManagerModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" >分配管理员</h4>
				<p class="modal-title" >{{restaurantInfoData.name}}</p>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="control-label">账号</label>
						<input v-model="account" type="text" class="form-control" >
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">姓名</label>
						<input v-model="name" class="form-control" >
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">密码</label>
						<input v-model="password" class="form-control" >
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary"
					@click="addManager">确定</button>
			</div>
		</div>
	</div>
</div>

<div id="restaurantSearchDiv" class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<input v-model="searchKey" type="text" class="form-control"
				placeholder="餐厅名称或营业执照"> <span class="input-group-btn">
				<button @click="search" class="btn btn-secondary" type="button">查询</button>
			</span>
		</div>
	</div>

	<button class="btn btn-primary" type="button" data-toggle="modal"
		data-target="#addRestaurantModal">新增餐厅</button>
</div>
<div id="dataList" class="row">
	<div class="col-md-12 color:#fff">
		<table id="table" data-search="false" data-show-refresh="false"
			data-show-toggle="false" data-show-columns="false"
			data-show-export="false" data-detail-view="true">
		</table>
	</div>
</div>

<script>



	var restaurantInfoData = new Vue({
		el : '#addRestaurantModal',
		data : {
			id : "",
			name : "",
			license : ""
		},
		methods : {
			addRestaurant : function() {
				$.post(
						ajaxUrl.restaurantAdd,
						restaurantInfoData.$data,
						function(response) {
							data = JSON.parse(response);
							if (data.code == successCode) {
								id = data.object.id;
								managerInfoData.restaurantId = data.object.id;
								var n = restaurantInfoData.name;
								$('#addRestaurantModal').modal('hide');
								restaurantManageData.search();
								$('#addManagerModal').on('shown.bs.modal', function (e) {
									$('#addManagerModal').on('hidden.bs.modal', function (e) {
										restaurantInfoData.name="";
										restaurantInfoData.license="";
									});
								});
								$('#addManagerModal').modal('show');
							}else{
								alert(data.msg);
							}
						}
				);
			}
		}
	
	});
	
	var managerInfoData = new Vue({
		el : '#addManagerModal',
		data : {
			restaurantId:"",
			name: "",
			account: "",
			password: ""
		},
		methods : {
			addManager : function() {
				$.post(
						ajaxUrl.addManager,
						managerInfoData.$data,
						function(response) {
							data = JSON.parse(response);
							if (data.code == successCode) {
								managerInfoData.name = "",
								managerInfoData.account = "",
								managerInfoData.password = "",
								$('#addManagerModal').modal('hide');
								restaurantManageData.search();
							}else{
								alert(data.msg);
							}
						}
				);
			}
		}

	});
	var restaurantManageData = new Vue({
		el : '#restaurantSearchDiv',
		data : {
			searchKey : "",
		},
		methods : {
			search : function() {
				search(this.searchKey, false);
			}
		}

	});
	search("", true);
	function search(keyStr, isFirstTime) {
		$.post(ajaxUrl.restaurantList, {
			key : keyStr
		}, function(response) {
			var dataList = JSON.parse(response);
			if (dataList.code == successCode) {
				if (isFirstTime) {
					$('#table').bootstrapTable({
						columns : [ {
							align : 'center',
							field : 'id',
							title : 'ID'
						}, {
							field : 'name',
							title : '餐厅名称'
						}, {
							field : 'license',
							title : '营业执照'
						}, {
							field : 'manager',
							formatter: managerTDFormater,
							events: managerTDEvents,
							title : '管理员'
						}, ],
						data : dataList.object,
					});
				} else {
					$('#table').bootstrapTable('load', dataList.object);
				}
			} else {
				alert(dataList.msg);
			}
		});
	}
	window.managerTDEvents = {
	        'click .addManager': function (e, value, row, index) {
	        	managerInfoData.restaurantId = row.id;
	    		$('#addManagerModal').on('hidden.bs.modal', function (e) {
	    			restaurantInfoData.name="";
	    			restaurantInfoData.license="";
	    		});
	    		$('#addManagerModal').modal('show');
	        },
	    };
	function managerTDFormater(value, row, index){
		if(value){
			return value;
		}else{
			return [
		            '<a class="addManager" href="javascript:void(0);" title="分配管理员">',
		            '+',
		            '</a>'
		        ].join('');
		}
	}
</script>