<!-- 新增餐厅弹窗 -->
<div class="modal" id="restaurantModal" tabindex="-1" role="dialog"
	aria-labelledby="restaurantModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" >{{getModalTitle()}}</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="control-label">餐厅名称</label>
						<input v-model="restaurant.name" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">营业执照</label>
						<input v-model="restaurant.license" class="form-control">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary"
					@click="sure">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- 分配餐厅管理员弹窗 -->
<div class="modal" id="managerModal" tabindex="-1" role="dialog"
	aria-labelledby="managerModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" >{{getModalTitle()}}</h4>
				<p class="modal-title" >{{restaurantModalData.restaurant.name}}</p>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="control-label">账号</label>
						<input v-model="manager.account" type="text" class="form-control" >
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">姓名</label>
						<input v-model="manager.name" class="form-control" >
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">密码</label>
						<input v-model="manager.password" class="form-control" >
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">电话</label>
						<input v-model="manager.phone" class="form-control" >
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">角色</label>
						<select v-model="manager.roleId"> 
							<option v-for="role in roleList" v-bind:value="role.id">
								{{ role.name }}</option>
						</select>
						<span>{{ getRoleName() }}</span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary"
					@click="sure">确定</button>
			</div>
		</div>
	</div>
</div>

<div id="searchDiv" class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<input v-model="searchKey" type="text" class="form-control"
				placeholder="餐厅名称或营业执照"> <span class="input-group-btn">
				<button @click="search" class="btn btn-secondary" type="button">查询</button>
			</span>
		</div>
	</div>

	<button class="btn btn-primary" type="button" data-toggle="modal"
		@click="add" >新增餐厅</button>
		
	<!-- <button class="btn btn-primary" type="button" data-toggle="modal"
		data-target="#restaurantModal">新增餐厅</button> -->
</div>
<div id="dataList" class="row">
	<div class="col-md-12 color:#fff">
		<table id="table" data-search="false" data-show-refresh="false"
			data-show-toggle="false" data-show-columns="false"
			data-show-export="false" data-detail-view="true">
		</table>
	</div>
</div>

<script>
	var restaurantModalData = new Vue({
		el : '#restaurantModal',
		data : {
			modalType : MODAL_TYPE_ADD,
			restaurant : {
				id : "",
				name : "",
				license : "",
			},
		},
		methods : {
			getModalTitle : function(){
				if(this.modalType == MODAL_TYPE_ADD){
					return "新增餐厅信息";
				}else{
					return "修改餐厅信息";
				}
			},
			sure : function() {
				if(this.modalType == MODAL_TYPE_ADD){//新增
					$.get(
							ajaxUrl.addRestaurant,
							restaurantModalData.restaurant,
							function(response) {
								response = JSON.parse(response);
								if (response.code == SUCCESS_CODE) {
									restaurantModalData.restaurant = response.data;
									managerModalData.manager.restaurantId = response.data.id;
									$('#restaurantModal').modal('hide');
									searchDivData.search();
									showManagerModal();
								}else{
									alert(response.msg + "----" + response.data);
								}
							}
					);
				}else if(this.modalType == MODAL_TYPE_UPDATE){//修改
					$.get(
							ajaxUrl.updateRestaurant,
							restaurantModalData.restaurant,
							function(response) {
								response = JSON.parse(response);
								if (response.code == SUCCESS_CODE) {
									restaurantModalData.restaurant = response.data;
									$('#restaurantModal').modal('hide');
									searchDivData.search();
								}else{
									alert(response.msg + "----" + response.data);
								}
							}
					);
				}
				
			}
		}
	
	});
	
	
	var managerModalData = new Vue({
		el : '#managerModal',
		data : {
			modalType : MODAL_TYPE_ADD,
			manager: {
				restaurantId:"",
				name: "",
				account: "",
				phone: "",
				roleId: "",
				password: "",
			},
			roleList: [], 
	
		},
		methods : {
			
			getRoleName: function(){
				if(managerModalData){
					managerModalData.roleList.forEach(function(value){
						 if(value.id == managerModalData.manager.roleId){
							 return value.name;
						 }
					});
				}
			},
			sure : function() {
				
				if(this.modalType == MODAL_TYPE_ADD){//新增
					var a = managerModalData.manager;
				debugger;
					$.get(
							ajaxUrl.addRestaurantManager,
							managerModalData.manager,
							function(response) {
								response = JSON.parse(response);
								if (response.code == SUCCESS_CODE) {
									clearManagerModalData();
									$('#managerModal').modal('hide');
									searchDivData.search();
								}else{
									alert(response.msg + "----" + response.data);
								}
							}
					);
				}else if(this.modalType == MODAL_TYPE_UPDATE){//修改
					$.get(
							ajaxUrl.updateRestaurantManager,
							managerModalData.manager,
							function(response) {
								response = JSON.parse(response);
								if (response.code == SUCCESS_CODE) {
									clearManagerModalData();
									$('#managerModal').modal('hide');
									searchDivData.search();
								}else{
									alert(response.msg + "----" + response.data);
								}
							}
					);
				}
			},
			getModalTitle : function(){
				if(this.modalType == MODAL_TYPE_ADD){
					return "新增管理员信息";
				}else{
					return "修改管理员信息";
				}
			},
		}
	});
	var searchDivData = new Vue({
		el : '#searchDiv',
		data : {
			searchKey : "",
		},
		methods : {
			search : function() {
				search();
			},
			add : function() {
				restaurantModalData.modalType = MODAL_TYPE_ADD;
				restaurantModalData.restaurant.id = "";
				clearRestaurantModalData();
				$('#restaurantModal').modal('show');
			},
		}

	});
	
	$('#managerModal').on('hidden.bs.modal', function (e) {
		clearManagerModalData();
		clearRestaurantModalData();
	});
	window.managerTDEvents = {
	        'click .addManager': function (e, value, row, index) {
	        	managerModalData.manager.restaurantId = row.id;
	        	managerModalData.modalType = MODAL_TYPE_ADD;
	    		showManagerModal();
	        },
	        
	        'click .updateManager': function (e, value, row, index) {
	        	$.get(
						ajaxUrl.restaurantManagerDetail,
						{
							id : row.managerId,	
						},
						function(response) {
							managerModalData.modalType = MODAL_TYPE_UPDATE;
							response = JSON.parse(response);
							if (response.code == SUCCESS_CODE) {
								managerModalData.manager = response.data;
								showManagerModal();
							}else{
								alert(response.msg + "----" + response.data);
							}
						}
				);
	        },
	    };
	
	$('#table').bootstrapTable({
		url: ajaxUrl.restaurantList,
		cache: false,
		contentType: "text/html",
		dataType: "json",
		pagination: true, 						
        search: false,
		sidePagination: "server",
		pageNumber:1,      //初始化加载第一页，默认第一页
        pageSize: PAGE_SIZE,      //每页的记录行数（*）
        smartDisplay: false,
        contentType: "text/html",
        queryParamsType:'', //默认值为 'limit' ,在默认情况下 传给服务端的参数为：offset,limit,sort 设置为 ''  在这种情况下传给服务器的参数为：pageSize,pageNumber
		queryParams : function(params) {
			params.key= searchDivData.searchKey;
			return params;
		}, 
		//queryParams : queryParams1,
		responseHandler: function(response) {
			if (response.code == SUCCESS_CODE) {
				response.total = response.count;
				response.rows = response.data.list;
			}else{
				alert(response.msg + "----" + response.data);
			}
			return response;
		},
		columns : [ {
			align : 'center',
			field : 'id',
			title : 'ID'
		}, {
			field : 'name',
			title : '餐厅名称'
		}, {
			field : 'license',
			title : '营业执照'
		}, {
			field : 'managerName',
			formatter: managerTDFormater,
			events: managerTDEvents,
			title : '管理员'
		},  {
			field : 'state',
			title : '状态'
		}, {
			field : 'operation',
			formatter: operationTDFormater,
			//events: operationTDEvents,
			title : '操作'
		}, ],
		onDblClickRow: function(row, $element, field){
			if("operation" == field || "manager" == field){
				return;
			}
			restaurantModalData.modalType = MODAL_TYPE_UPDATE;
			restaurantModalData.restaurant = row;
			$('#restaurantModal').modal('show');
		},
		onDblClickCell: function(field, value, row, $element){
			if("operation" == field){
				$.get(
						ajaxUrl.deleteRestaurant,
						{
							id : row.id,	
						},
						function(response) {
							response = JSON.parse(response);
							if (response.code == SUCCESS_CODE) {
								searchDivData.search();
							}else{
								alert(response.msg + "----" + response.data);
							}
						}
				);
			}
		},
	});
	
	function search() {
		$('#table').bootstrapTable('refresh',{pageNumber:1, pageSize: PAGE_SIZE, search: true,});
	}
	
	
	function showManagerModal(){
		$.get(ajaxUrl.restaurantRoleList, function(response) {
			var response = JSON.parse(response);
			if (response.code == SUCCESS_CODE) {
				managerModalData.roleList = response.data.list;
				$('#managerModal').modal('show');
			} else {
				alert(response.msg + "----" + response.data);
			}
		});
		
	}
	function clearManagerModalData(){
		managerModalData.manager = {
			restaurantId: "",
			name: "",
			account: "",
			password: "",
		};
	}
	
	function clearRestaurantModalData(){
		restaurantModalData.restaurant.name = "";
		restaurantModalData.restaurant.license = "";
	}
	
	function managerTDFormater(value, row, index){
		if(value){
			return [
		            '<a class="updateManager" href="javascript:void(0);" title="更新信息">',
		            value,
		            '</a>'
		        ].join('');
		}else{
			return [
		            '<a class="addManager" href="javascript:void(0);" title="分配管理员">',
		            '+',
		            '</a>'
		        ].join('');
		}
	}
	
	
	function operationTDFormater(value, row, index){
		return [
	            '<p>',
	            '双击这里删除餐厅',
	            '</p>'
	        ].join('');
	}
</script>