<!-- 新增角色弹窗 -->
<div class="modal" id="add_role_modal" tabindex="-1" role="dialog"
	aria-labelledby="add_role_modal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">新增角色</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="message-text" class="control-label">角色名称</label>
						<input v-model="name" class="form-control">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary"
					@click="add_role">确定</button>
			</div>
		</div>
	</div>
</div>


<div id="role_search_div" class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<input v-model="searchKey" type="text" class="form-control"
				placeholder="角色名称"> <span class="input-group-btn">
				<button @click="search" class="btn btn-secondary" type="button">查询</button>
			</span>
		</div>
	</div>

	<button class="btn btn-primary" type="button" data-toggle="modal"
		data-target="#add_role_modal">新增角色</button>
</div>
<div id="data_list" class="row">
	<div class="col-md-12 color:#fff">
		<table id="table">
		</table>
	</div>
</div>

<script>

	var role_info_data = new Vue({
		el : '#add_role_modal',
		data : {
			name: "",
		},
		methods : {
			add_role : function() {
				$.post(
						ajaxUrl.add_restaurant_role,
						role_info_data.$data,
						function(response) {
							data = JSON.parse(response);
							if (data.code == success_code) {
								role_info_data.name = "",
								$('#add_role_modal').modal('hide');
								role_search_data.search();
							}else{
								alert(data.msg);
							}
						}
				);
			}
		}

	});
	var role_search_data = new Vue({
		el : '#role_search_div',
		data : {
			searchKey : "",
		},
		methods : {
			search : function() {
				search(this.searchKey, false);
			}
		}

	});
	search("", true);
	function search(keyStr, isFirstTime) {
		$.post(ajaxUrl.restaurant_role_list, {
			key : keyStr
		}, function(response) {
			var dataList = JSON.parse(response);
			if (dataList.code == success_code) {
				if (isFirstTime) {
					$('#table').bootstrapTable({
						columns : [ {
							align : 'center',
							field : 'id',
							title : 'ID'
						}, {
							field : 'name',
							title : '角色名称'
						}, ],
						data : dataList.object,
					});
				} else {
					$('#table').bootstrapTable('load', dataList.object);
				}
			} else {
				alert(dataList.msg);
			}
		});
	}
</script>