<!-- 新增餐厅弹窗 -->
<div class="modal" id="add_user_modal" tabindex="-1" role="dialog"
	aria-labelledby="add_user_modal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">新增用户</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="message-text" class="control-label">账号</label>
						<input v-model="account" class="form-control">
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">姓名</label>
						<input v-model="name" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">密码</label>
						<input v-model="password" class="form-control">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary"
					@click="add_user">确定</button>
			</div>
		</div>
	</div>
</div>


<div id="user_search_div" class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<input v-model="searchKey" type="text" class="form-control"
				placeholder="账号或姓名"> <span class="input-group-btn">
				<button @click="search" class="btn btn-secondary" type="button">查询</button>
			</span>
		</div>
	</div>

	<button class="btn btn-primary" type="button" data-toggle="modal"
		data-target="#add_user_modal">新增用户</button>
</div>
<div id="data_list" class="row">
	<div class="col-md-12 color:#fff">
		<table id="table">
		</table>
	</div>
</div>

<script>

	var user_info_data = new Vue({
		el : '#add_user_modal',
		data : {
			name: "",
			account: "",
			password: ""
		},
		methods : {
			add_user : function() {
				$.post(
						ajaxUrl.add_restaurant_user,
						user_info_data.$data,
						function(response) {
							data = JSON.parse(response);
							if (data.code == success_code) {
								user_info_data.name = "",
								user_info_data.account = "",
								user_info_data.password = "",
								$('#add_user_modal').modal('hide');
								user_search_data.search();
							}else{
								alert(data.msg);
							}
						}
				);
			}
		}

	});
	var user_search_data = new Vue({
		el : '#user_search_div',
		data : {
			searchKey : "",
		},
		methods : {
			search : function() {
				search(this.searchKey, false);
			}
		}

	});
	search("", true);
	function search(keyStr, isFirstTime) {
		$.post(ajaxUrl.restaurant_user_list, {
			key : keyStr
		}, function(response) {
			var dataList = JSON.parse(response);
			if (dataList.code == success_code) {
				if (isFirstTime) {
					$('#table').bootstrapTable({
						columns : [ {
							align : 'center',
							field : 'account',
							title : '账号'
						}, {
							field : 'name',
							title : '姓名'
						}, {
							field : 'role_name',
							title : '角色'
						}, ],
						data : dataList.object,
					});
				} else {
					$('#table').bootstrapTable('load', dataList.object);
				}
			} else {
				alert(dataList.msg);
			}
		});
	}
</script>