<!-- 新增餐厅弹窗 -->
<div class="modal" id="addUserModal" tabindex="-1" role="dialog"
	aria-labelledby="addUserModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">新增用户</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="message-text" class="control-label">账号</label>
						<input v-model="account" class="form-control">
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">姓名</label>
						<input v-model="name" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">密码</label>
						<input v-model="password" class="form-control">
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">角色</label>
						<select v-model="roleId" >
					 <option v-for="role in roleList" v-bind:value="role.id">
					   {{ role.name }}
					 </option>
					</select>
					</div>
					
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary"
					@click="addUser">确定</button>
			</div>
		</div>
	</div>
</div>


<div id="userSearchDiv" class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<input v-model="searchKey" type="text" class="form-control"
				placeholder="账号或姓名"> <span class="input-group-btn">
				<button @click="search" class="btn btn-secondary" type="button">查询</button>
			</span>
		</div>
	</div>

	<button class="btn btn-primary" type="button" data-toggle="modal"
		data-target="#addUserModal">新增用户</button>
</div>
<div id="dataList" class="row">
	<div class="col-md-12 color:#fff">
		<table id="table">
		</table>
	</div>
</div>

<script>

	var userInfoData = new Vue({
		el : '#addUserModal',
		data : {
			name: "",
			account: "",
			roleId: "",
			roleList: [],
			password: "",
		},
		methods : {
			addUser : function() {
				$.post(
						ajaxUrl.addRestaurantUser,
						{
							name: userInfoData.name,
							account: userInfoData.account,
							roleId: userInfoData.roleId,
							password: userInfoData.password,
						},
						function(response) {
							data = JSON.parse(response);
							if (data.code == SUCCESS_CODE) {
								userInfoData.name = "",
								userInfoData.account = "",
								userInfoData.password = "",
								userInfoData.roleId = "",
								$('#addUserModal').modal('hide');
								userSearchData.search();
							}else{
								alert(data.msg);
							}
						}
				);
			}
		}

	});
	var userSearchData = new Vue({
		el : '#userSearchDiv',
		data : {
			searchKey : "",
		},
		methods : {
			search : function() {
				search(this.searchKey, false);
			}
		}

	});
	$('#addUserModal').on('shown.bs.modal', function (e) {
		$.post(ajaxUrl.restaurantRoleList, function(response) {
			var dataList = JSON.parse(response);
			if (dataList.code == SUCCESS_CODE) {
				userInfoData.roleList = dataList.data;
			} else {
				alert(dataList.msg);
			}
		});
	});
	search("", true);
	function search(keyStr, isFirstTime) {
		$.post(ajaxUrl.restaurantUserList, {
			key : keyStr
		}, function(response) {
			var dataList = JSON.parse(response);
			if (dataList.code == SUCCESS_CODE) {
				if (isFirstTime) {
					$('#table').bootstrapTable({
						columns : [ {
							align : 'center',
							field : 'account',
							title : '账号'
						}, {
							field : 'name',
							title : '姓名'
						}, {
							field : 'roleName',
							title : '角色'
						}, ],
						data : dataList.data,
					});
				} else {
					$('#table').bootstrapTable('load', dataList.data);
				}
			} else {
				alert(dataList.msg);
			}
		});
	}
</script>