<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.dao.InterfaceDao">

	<select id="selectInterFaceList" resultType="Map" parameterType="Map">
		SELECT i.id, i.name, i.path 
		FROM  interface i
	    <if test="key != null">
        WHERE
        i.name like concat('%',#{key},'%') or i.path like concat('%',#{key},'%')
	    </if>
	    <if test="page.sortName != null">
	    order by ${page.sortName} ${page.sortOrder}
	    </if>
	    LIMIT #{page.start} , #{page.pageSize}
	</select>
	
	<select id="selectInterFaceCount" resultType="Integer">
		SELECT count(id)
		FROM  interface i
        <if test="key != null">
        WHERE
        i.name like concat('%',#{key},'%') or i.path like concat('%',#{key},'%')
        </if>
	</select>
</mapper>