<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.dao.MenuDao">

	<select id="selectRoleMenu" resultType="Map">
		SELECT m.name , m.id , m.parent_id parentId , m.path
		FROM role_menu rm
		LEFT JOIN menu m on m.id = rm.menu_id
		WHERE rm.role_id = #{roleId}
	</select>
	<select id="selectAuthorizedRoleMenu" resultType="Map">
		SELECT m.name , m.id , m.parent_id parentId , m.path, tmp.authorized
		FROM role_menu rm
		LEFT JOIN menu m on m.id = rm.menu_id
		left join (select menu_id, 'true' as authorized from role_menu rm where rm.role_id = #{roleId}) tmp on tmp.menu_id = rm.menu_id
		WHERE rm.role_id = #{parentRoleId}
	</select>
	
	<select id="selectAllMenu" resultType="Map">
		SELECT m.name , m.id , m.parent_id parentId , m.path
		FROM menu m
	</select>
	
	<select id="selectAllInterfaceIds" resultType="Integer">
		SELECT i.id
		FROM interface i
	</select>
	
	
	<select id="selectMenuInterface" resultType="Map">
		select i.* , tmp.checked
		from interface i
		left join 
		(select mi.interface_id, 'true' as checked from menu_interface mi where mi.menu_id= #{menuId}) tmp
		on tmp.interface_id = i.id
	</select>
	
	
	<insert id="insertMenuInterface" parameterType="Map">  
	    insert into menu_interface (menu_id, interface_id)   
	    values  
	    <foreach collection="menuInterfaceIds" item="item" index="index" separator="," >  
	        (#{menu.id}, #{item})
	    </foreach>  
	</insert> 
  <delete id="deleteMenu" parameterType="db.pojo.Menu">  
		delete from menu where id = #{menu.id} and NOT EXISTS (select id from (SELECT id FROM menu WHERE parent_id = #{menu.id}) tmp);
	</delete> 
	<delete id="deleteMenuInterface" parameterType="db.pojo.Menu">  
		delete from menu_interface where menu_id = #{menu.id};
	</delete> 
	<delete id="deleteRoleMenu" parameterType="db.pojo.Menu">  
		delete from role_menu where menu_id = #{menu.id};
	</delete> 
	<insert id="insertRoleMenu" parameterType="Map" >  
		insert into role_menu(role_id, menu_id) 
		values (#{roleId}, #{menu.id})
	</insert> 
	<insert id="insertMenu" parameterType="db.pojo.Menu" useGeneratedKeys="true" keyProperty="menu.id" >  
		insert into menu(name, path, parent_id) 
		SELECT #{menu.name}, #{menu.path}, #{menu.parentId} 
	    FROM DUAL 
		WHERE EXISTS (SELECT id FROM menu WHERE id = #{menu.parentId})
	</insert> 
	
	  <update id="updateMenu" parameterType="db.pojo.Menu" >
		    UPDATE menu 
		    <set> 
			  <if test="menu.name != null">name = #{menu.name},</if>
			  <if test="menu.path != null">path = #{menu.path},</if>
			 </set>
			 WHERE id = #{menu.id}
	  </update>
</mapper>