<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.dao.RestaurantDao">
    
	<select id="selectRestaurant" resultType="Map">
		SELECT 
		r.id, r.name, r.license, r.state, u.id as managerId, u.name "managerName"
		FROM restaurant r
		LEFT JOIN user u on u.restaurant_id = r.id
		where r.id > 0 
        <if test="key != null">
        and (r.name like concat('%',#{key},'%') or r.license like concat('%',#{key},'%'))
        </if>
        order by
        <if test="page.sortName != null">
	     r.${page.sortName} ${page.sortOrder},
	    </if>
	    r.id desc
	    LIMIT #{page.start} , #{page.pageSize}
	</select>
	
	
	<select id="selectRestaurantCount" resultType="Integer">
		SELECT 
		count(r.id) 
		FROM restaurant r 
        <if test="key != null">
        where r.name like concat('%',#{key},'%') or r.license like concat('%',#{key},'%') 
        </if>
	</select>
	
	
	<insert id="insertRestaurant" parameterType="db.pojo.Restaurant" useGeneratedKeys="true" keyProperty="id" >
	    INSERT INTO restaurant (name, license) select #{name}, #{license} FROM DUAL 
		WHERE NOT EXISTS (SELECT license FROM restaurant WHERE license = #{license})
  </insert>
  
  <update id="updateRestaurant" parameterType="db.pojo.Restaurant" >
	    UPDATE restaurant 
	    <set> 
		  <if test="name != null">name = #{name},</if>
		  <if test="license != null">license = #{license},</if>
		 </set>
		 WHERE id = #{id}
  </update>
  <update id="deleteRestaurant" parameterType="db.pojo.Restaurant" >
	    UPDATE restaurant 
	    set state = #{state} 
		 WHERE id = #{id}
  </update>
	
</mapper>