<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.dao.RestaurantDao">
    
	<select id="selectRestaurant" resultType="Map">
		SELECT 
		r.id, r.name, r.license, r.state, u.name "manager"
		FROM restaurant r
		LEFT JOIN user u on u.restaurant_id = r.id and u.role_id = #{roleId}
        <if test="key != null">
        where r.name like concat('%',#{key},'%') or r.license like concat('%',#{key},'%') 
        </if>
        
	</select>
	
	
	<insert id="insertRestaurant" parameterType="db.pojo.Restaurant" useGeneratedKeys="true" keyProperty="id" >
	    INSERT INTO restaurant (name, license) select #{name}, #{license} FROM DUAL 
		WHERE NOT EXISTS (SELECT license FROM restaurant WHERE license = #{license})
  </insert>
  
	
</mapper>