<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.dao.RestaurantDao">
    
    <sql id="search_column">
    	r.*, u.name "manager"
  	</sql>
	
	<select id="selectRestaurant" resultType="Map">
		SELECT 
		<include refid="search_column" />
		FROM restaurant r
		LEFT JOIN user u on u.restaurant_id = r.id
          <if test="key != null">
          where r.name like concat('%',#{key},'%') or r.license like concat('%',#{key},'%') 
          </if>
	</select>
	
	
	<insert id="insertRestaurant" parameterType="db.pojo.Restaurant" useGeneratedKeys="true" keyProperty="id" >
	    INSERT INTO restaurant (name, license) select #{name}, #{license} FROM DUAL 
		WHERE NOT EXISTS (SELECT license FROM restaurant WHERE license = #{license})
  </insert>
  
	
</mapper>