<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.dao.RoleDao">
    
	<select id="selectRole" resultType="Map">
		SELECT 
			r.id,
			r.name,
			r.restaurant_id as restaurantId
		FROM 
			role r 
		WHERE
			restaurant_id = #{restaurantId} 
	        <if test="key != null">
	        and r.name like concat('%',#{key},'%')
	        </if>
	</select>
	
	
	<insert id="insertRole" parameterType="db.pojo.Role" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO role (NAME, restaurant_id) SELECT
			#{name}, #{restaurantId} 
		FROM
			DUAL
		WHERE
			NOT EXISTS (
				SELECT
					NAME,
					restaurant_id
				FROM
					role
				WHERE
					NAME = #{name} and restaurant_id = #{restaurantId})
	</insert>
  
	
</mapper>