<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.dao.RoleDao">
    
	<select id="selectRoleInterface" resultType="Integer">
		SELECT mi.interface_id from role r, role_menu rm, menu_interface mi
		where r.id = rm.role_id and rm.menu_id = mi.menu_id
		and r.id = #{roleId}
	</select>
	
	<select id="selectRole" resultType="Map">
		SELECT 
			r.id,
			r.name,
			r.restaurant_id as restaurantId
		FROM 
			role r 
		WHERE
			restaurant_id = #{restaurantId} 
	        <if test="key != null">
	        and r.name like concat('%',#{key},'%')
	        </if>
	</select>
	
	<select id="selectRoleIdNum" resultType="Integer">
		SELECT count(r.id)
		FROM 
			role r 
		WHERE
			restaurant_id = #{restaurantId} and id = #{roleId} 
	</select>
	
	
	<insert id="insertRole" parameterType="db.pojo.Role" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO role (NAME, restaurant_id) SELECT
			#{name}, #{restaurantId} 
		FROM
			DUAL
		WHERE
			NOT EXISTS (
				SELECT
					NAME,
					restaurant_id
				FROM
					role
				WHERE
					NAME = #{name} and restaurant_id = #{restaurantId})
	</insert>
  
  
  <insert id="insertRoleMenu" useGeneratedKeys="true" parameterType="java.util.List">  
    insert into role_menu (role_id, menu_id)   
    values  
    <foreach collection="menus" item="item" index="index" separator="," >  
        (#{roleId}, #{item})  
    </foreach>  
</insert> 
	
</mapper>