<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.dao.UserDao">
    <resultMap id="userMap" type="db.pojo.User">
		<result column="role_id" jdbcType="VARCHAR" property="roleId" />
	</resultMap>
	<select id="selectByAccount" parameterType="java.lang.String"
		resultMap="userMap">
		select * 
		from user
		where account = #{account}
	</select>
	<select id="selectAllUsers" resultType="Map">
		select u.id, u.account, u.name, u.password, role.name 'role_name', r.name
		'restaurant_name'
		from user u
		LEFT JOIN role on role.id = u.role_id
		LEFT JOIN restaurant r on r.id = u.restaurant_id
		ORDER BY u.id
	</select>
	
	<select id="selectManagerByAccountName" resultType="Map">
		select u.id, u.account, u.name, u.password, role.name 'role_name', r.name
		'restaurant_name'
		from user u
		LEFT JOIN role on role.id = u.role_id
		LEFT JOIN restaurant r on r.id = u.restaurant_id
		where u.role_id = '2'
		<if test="account != null">
          and u.account like concat('%',#{account},'%')
          </if>
		<if test="name != null">
          and u.name like concat('%',#{name},'%')
          </if>
		ORDER BY u.id
	</select>
</mapper>