<div id="allMenuDiv" class="content_wrap">
	<ul id="menutree" class="ztree" style="width: 230px; overflow: auto;"></ul>
</div>

<div id="menuDetailDiv" v-if="menuDetailDivSeen">
	<div id="btnDiv" >
		<label for="message-text" >名称</label>
		<input v-model="treeNode.name" >
		<label for="recipient-name" >路径</label>
		<input v-model="treeNode.path" type="text">
		<button v-if="addBtnSeen" class="btn btn-primary" @click="add">添加子菜单</button>
		<button v-if="delBtnSeen" class="btn btn-primary" @click="del">删除菜单</button>
		<button class="btn btn-primary" @click="update">保存更新</button>
	</div>
	<div id="interfaceDiv">
	<template v-for="(interface, index) in interfaceList">
    	<div class="checkbox">
	        <label>
	          <input type="checkbox" v-on:click="itemClick(interface, index)" v-model="interface.checked">{{interface.name}}
	        </label>
	   </div>
  </template>
	</div>
</div>
<script>
	
	$(function(){
		$.get(ajaxUrl.allMenuList, function(response) {
			response = JSON.parse(response);
			if (response.code == SUCCESS_CODE) {
				var setting = {
						data : {
							simpleData : {
								enable : true,
								idKey : "id",
								pIdKey : "parentId",
								rootPId : null,
							}
						},
						callback: {
							onClick: menuTreeOnClick,
						}
					};
					var treeNodes = response.data;
					var zTree = $.fn.zTree.init($("#menutree"), setting, treeNodes);
					zTree.expandAll(true);
			} else {
				alert(response.msg + "----" + response.data);
			}
		});
	});
	var btnDivData = new Vue({
		el : '#menuDetailDiv',
		data : {
			treeNode : {name : "", path: ""},
			menuDetailDivSeen : false,
			addBtnSeen : true,
			delBtnSeen : true,
			interfaceList: [],
			
		},
		methods : {
			add : function() {
				$.get(ajaxUrl.addMenu, {
					parentId : btnDivData.treeNode.id,
					name : btnDivData.treeNode.name,
					path : btnDivData.treeNode.path,
					interfaceIds : getCheckInterfaceIds,
				},function(response) {
					response = JSON.parse(response);
					alert(response.msg + "----" + response.data);
				});
			},
			del : function() {
				$.get(ajaxUrl.deleteMenu, {
					id : btnDivData.treeNode.id,
				},function(response) {
					response = JSON.parse(response);
					alert(response.msg + "----" + response.data);
				});
			},
			update : function() {
				$.get(ajaxUrl.updateMenu, {
					id : btnDivData.treeNode.id,
					name : btnDivData.treeNode.name,
					path : btnDivData.treeNode.path,
					interfaceIds : getCheckInterfaceIds,
				},function(response) {
					response = JSON.parse(response);
					alert(response.msg + "----" + response.data);
				});
				
			},
			itemClick : function(inter, index){
				
			},
			
		}

	}); 
	
	function getCheckInterfaceIds (){
		var checkedIds = [];
		btnDivData.interfaceList.forEach(function(inter){
			if(inter.checked){
				checkedIds.push(inter.id);
			}
		});
		return JSON.stringify(checkedIds);
	}
	
	function menuTreeOnClick(event, treeId, treeNode) {
		if(treeNode){
			btnDivData.treeNode = treeNode;
			btnDivData.menuDetailDivSeen = true,
			btnDivData.addBtnSeen = true;
			if(treeNode.isParent){
				btnDivData.delBtnSeen = false;
			}else{
				btnDivData.delBtnSeen = true;
			}
			$.get(ajaxUrl.menuInterfaceList, {
				menuId:treeNode.id,
			},function(response) {
				response = JSON.parse(response);
				if (response.code == SUCCESS_CODE) {
					btnDivData.interfaceList = response.data;
				} else {
					alert(response.msg + "----" + response.data);
				}
			});
		}
		
	}

</script>


<style type="text/css">

#allMenuDiv {
	position: absolute;
	width: 200px;
	height: 100%;
	overflow: auto;
	padding-right: 2px;
	}
#menuDetailDiv {
	position: absolute;
	left: 210px;
	height: 100%;
	right: 0px;
	overflow: auto;
	background: #FFFAFA
}

</style>